name: Checks
on: [push]
env:
  CC: clang
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - uses: actions/setup-go@v6
      with:
        go-version: "1.24"
    - name: Init cmake
      run: cmake -S . -B build
    - name: Check
      run: cmake --build build --target check
  fuzz:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Create corpus directories
      run: mkdir fuzz/json.corpus fuzz/template.corpus
    - name: Init cmake
      run: cmake -S . -B build
    - name: Fuzz
      run: cmake --build build --target fuzz
